.myhotspot {
  border-radius: 50%;
}

.tooltip {
  opacity: 0.3;
}

#bird {
  position: fixed;
  top: 78%;
  left: 70%;
  width: 10.08%;
  height: 18%;
  background-color: red;
  opacity: 0;
}

#draw {
  position: fixed;
  width: 10%;
  height: 100%;
  background-color: grey;
  opacity: 0.8;
  transition: all 1000ms linear;
}

#cycle {
  position: fixed;
  top: 85%;
  left: 47%;
  width: 3.92%;
  height: 7%;
  background-color: red;
  opacity: 0;
}

#donkey {
  position: fixed;
  top: 27.3%;
  left: 57.7%;
  width: 2.24%;
  height: 4%;
  background-color: red;
  opacity: 0;
}

#lady {
  position: fixed;
  top: 82%;
  left: 28%;
  width: 9.52%;
  height: 16%;
  background-color: red;
  opacity: 0;
}

#lovers {
  position: fixed;
  top: 54.5%;
  left: 32%;
  width: 3.08%;
  height: 5.5%;
  background-color: red;
  opacity: 0;
}

#logo {
  position: fixed;
  top: 62%;
  left: 48.5%;
  width: 5.04%;
  height: 6%;
  background-color: red;
  opacity: 0;
}

#baby {
  position: fixed;
  top: 68.5%;
  left: 50%;
  width: 2.52%;
  height: 4.5%;
  background-color: red;
  opacity: 0;
}

#volcano {
  position: fixed;
  top: 13%;
  left: 84.3%;
  width: 1.96%;
  height: 9%;
  background-color: red;
  opacity: 0;
}

#monkey {
  position: fixed;
  top: 18.8%;
  left: 3%;
  width: 3.92%;
  height: 7%;
  background-color: red;
  opacity: 0;
}


#feedback {
  position: fixed;
  width: 5%;
  height: 10%;
  top: 52%;
  left: 0%;
  background-color: red;
  opacity: 0;
}

#bottle {
  position: fixed;
  width: 10%;
  height: 8%;
  top: 50%;
  left: 50%;
  background-color: red;
  opacity: 0.5;
}

#review {
  top: 3%;
  right: 1%;
  position: fixed;
  height: 100px;
  width: 100px;
  opacity: 0.7;
}

@media only screen and (max-width: 1024px) {

  #lady {
    top: 82%;
    left: 5%;
    width: 15%;
    height: 16%;
  }

  #bird {
    top: 77%;
    left: 82%;
    width: 20%;
    height: 15%;
  }

  #cycle {
    top: 84%;
    left: 43%;
    width: 10%;
    height: 8%;
  }


  #monkey {
    top: 18.8%;
    left: 3.5%;
    width: 3.92%;
    height: 7%;
  }

  #lovers {
    top: 54.5%;
    left: 12%;
    width: 5%;
    height: 6%;
  }


  #logo {
    top: 62%;
    left: 48.5%;
    width: 7%;
    height: 6%;
  }


  #baby {
    top: 68.5%;
    left: 50%;
    width: 5%;
    height: 4.5%;
  }


  #donkey {
    top: 27.3%;
    left: 66%;
    width: 5%;
    height: 4%;
  }


  #volcano {
    top: 13%;
    left: 89%;
    width: 2.4%;
    height: 7%;
  }

}

@media only screen and (max-width: 414px) {
  #review {
    width: 50px;
    height: 50px;
  }
} 